.ProductList {
    font-family: 'Work Sans', sans-serif;
}

.ProductListLi {
    background-color: rgb(226, 231, 250);
    box-shadow: 2px 3px black;
    list-style-type: none;
    border-radius: 5px;
    margin: 0 0 15px 0;
    padding: 8px;
    cursor: pointer;
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none
}

.ProductListLi:hover {
    background-color: rgb(182, 211, 237);
    font-family: 'Work Sans', sans-serif;
}

.ProductListUl {
    border-radius: 5px;
    border: 1px solid black;
    list-style: none;
    background-color: rgb(227, 107, 107);
    margin: 3% 3% 0 3%;
    padding: 1% 1% 1% 1%;
}