.ProductList {
    font-family: 'Work Sans', sans-serif;
}

.ProductList li {
    background-color: rgb(245, 247, 252);
    box-shadow: 0 2px 3px rgba(55, 55, 55, 0.756);
    list-style-type: none;
    border-radius: 4px;
    margin: 0 0 15px 0;
    padding: 8px;
    cursor: pointer;
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.ProductList li:hover {
    background-color: rgb(182, 211, 237);
}

.ProductList li:active {
    transform: translateY(1px);
    box-shadow: 0 1px 1px rgba(55, 55, 55, 0.756);
}

.ProductList ul {
    border-radius: 5px;
    border: 1px solid black;
    list-style: none;
    background-color: rgb(227, 107, 107);
    margin: 3% 3% 0 3%;
    padding: 1% 1% 1% 1%;
}